.text-center {
    text-align: center;
}

.bg {
    background: pink;
}

.mx-auto {
    margin: auto;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.item-center {
    align-items: center;
}